* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #0075ce;
    border-radius: 8px;
}

body {
    font-family: sans-serif;
    background-color: #2d3f50;
    color: #fff;
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    min-height: 80px;
    position: fixed;
    width: 100%;
}

.main-nav {
    color: #fff;
    background-color: #0b8ef1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 16px;
}

.nav-links li a:hover {
    color: #0b8ef1;
    background-color: white;
    transition: background-color 0.5s ease;
}

.nav-toggle {
    display: none;
}

.container {
    max-width: 960px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    color: black;
}

h1 {
    font-size: 70px;
    padding-left: 200px;
    padding-top: 20%;
}

.p {
    font-size: 30px;
    padding-left: 200px;
    padding-top: 15px;
}

[class^="col-"] {
    float: left;
    padding: 5px;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

.h3 {
    font-size: 35px;
    display: inline-block;
    border-bottom: 4px solid rgb(84, 252, 154);
    margin-bottom: 5px;
    margin-top: 80px;
    display: inline-block;
    margin-left: 50px;
}

.titlu1 {
    padding-top: 90px;
    font-size: 35px;
    border-bottom: 4px solid royalblue;
    display: inline-block;
}

.row-new {
    margin-top: 0px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.row-info {
    margin-top: 0px;
    padding-top: 15px;
    padding-left: 30px;
}

.info {
    padding: 0px 15px 15px 20px;
    background-color: #e9e9e9;
    background-image: url("../images/texture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 250px;
    overflow-y: scroll;
}

.col-50 {
    padding-bottom: 25px;
}

.p1 {
    font-size: 25px;
    color: #000000;
}

.h2 {
    font-size: 40px;
}

.solve {
    height: 300px;
    width: 630px;
    padding: 0px 15px 15px 80px;
}

.galerie {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 70px;
}

.galerie img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.galerie img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

@media (max-width: 850px) {

    .main-nav {
        height: 50px;
    }

    .nav-toggle {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: white;
    }

    .nav-links {
        flex-direction: column;
        background-color: #2d3f50;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        display: none;
    }

    .nav-links li a {
        width: 100%;
    }

    .active {
        display: flex;
    }

    body {
        font-size: 16px;
    }

    [class^="col-"] {
        width: 100%;
    }

    main {
        margin: 0px;
        padding: 10px 15px 20px 15px;
    }

    aside {
        display: none;
        height: auto;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;
    }

    .galerie img {
        width: 130px;
        height: 130px;
    }

    .container {
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 1rem;
        padding-left: 1rem;
        color: black;
    }

    .p {
        padding-left: 10px;
    }

    .mb {
        padding-left: 10px;
        padding-top: 110px;
    }

    .solve {
        height: 170px;
        width: 320px;
        padding: 15px 15px 15px 15px;
    }

    .row-info {
        padding-left: 15px;
    }
}